body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.task-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.task-inputs input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.task-inputs input[type="checkbox"] {
    margin-left: 10px;
}

.task-inputs button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
}

.dashboard {
    text-align: left;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.dashboard h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.dashboard div {
    margin-bottom: 10px;
}
.panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    width: 200px; /* Adjust this value as needed */
}

.panel button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
    text-align: left;
}

.panel button.active {
    background-color: #ddd;
    font-weight: bold;
}

.content {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.content h2 {
    margin-top: 0;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.task h3 {
    margin: 0;
}

.task p {
    margin: 5px 0;
}