/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }
  
  .App,
  form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 20px 0;
    border-bottom: 2px solid #369a1b;
  }
  
  .header h1 {
    order: -1;
    margin-right: auto;
    font-size: 2rem;
    color: #1b9a2a;
  }
  
  /* Buttons */
  .add-task-button,
  button {
    order: -1;
    margin-left: auto;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
  }
  
  .add-task-button:hover,
  button:hover {
   
    background-color: #45a049;
  }
  
  button[type='button'] {
    background-color: #f33708dd;
   position: relative;
    right: -10px;
  }
  
  button[type='button']:hover {
    background-color: #c9da0b;
  }
  
  /* Navigation */
  .top-menu {
    background-color: green;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  .top-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .top-menu a:hover {
    background-color: #555;
  }
  
  /* Dashboard */
  .dashboard-page {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-page h2 {
    color: #239a1b;
    margin-bottom: 20px;
  }
  
  .task-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .summary-item {
    background-color: #bee7c1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .summary-item h3 {
    color: #148c44;
    margin-bottom: 10px;
  }
  
  .summary-item p {
    font-size: 2rem;
    font-weight: bold;
    color: #1b9a47;
    margin-bottom: 10px;
  }
  
  .summary-item a {
    display: inline-block;
    background-color: #1b9a52;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .summary-item a:hover {
    background-color: #148c60;
  }
  
  .total-tasks {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #1b9a96;
  }
  
  /* Task table */
  .task-table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .task-table th,
  .task-table td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .task-table th {
    background-color: #1da441;
    font-weight: bold;
  }
  
  .task-table tr:hover {
    background-color: #1c904b;
  }
  
  /* Priority */
  .priority {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .priority.low {
    background-color: #e8f5e9;
    color: #2e7d32;
  }
  
  .priority.medium {
    background-color: #fff3e0;
    color: #f57c00;
  }
  
  .priority.high {
    background-color: #ffebee;
    color: #c62828;
  }
  
  /* Progress bar */
  .progress-bar {
    width: 100px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50;
  }
  
  .percent-complete {
    font-size: 0.9em;
    color: #555;
  }
  
  /* Form elements */
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type='text'],
  input[type='date'],
  textarea,
  select {
    width: 60%; /* Updated to full width */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  .checkbox-group {
    margin-bottom: 15px;
  }
  
  .checkbox-group label {
    display: inline-block;
    margin-right: 15px;
  }
  
  input[type='checkbox'] {
    margin-right: 5px;
    vertical-align: middle;
  }
  
  /* Task styles */
  .task {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .task-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .task-actions img {
    width: 20px;
    height: 20px;
  }
  
  .task-details-container {
    display: flex;
    justify-content: space-between;
  }
  
  .task-details {
    flex: 2;
    margin-right: 20px;
  }
  
  .task-interaction {
    flex: 1;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
  }
  
  .comment-section,
  .file-upload-section {
    margin-bottom: 20px;
  }
  
  .comment-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .comment {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .file-upload-section input[type='file'] {
    margin-top: 10px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  /* Edit table */
  .edit-table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .edit-table th,
  .edit-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .edit-table th {
    background-color: #f5f5f5;
    font-weight: bold;
    width: 30%; /* Adjusted width */
  }
  
  .edit-table td {
    width: 70%; /* Adjusted width */
  }
  
  .edit-table input[type='text'],
  .edit-table textarea,
  .edit-table select {
    width: calc(50% - 16px); /* Adjusted width */
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .edit-table textarea {
    resize: vertical;
    height: 100px;
  }
  
  .edit-table label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .edit-table .edit-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .edit-table .edit-row label {
    flex: 1;
  }
  
  .edit-table .edit-row input,
  .edit-table .edit-row textarea,
  .edit-table .edit-row select {
    flex: 2;
    margin-left: 10px;
  }
  
  @media (max-width: 768px) {
    .task-details-container {
      flex-direction: column;
    }
  
    .task-details,
    .task-interaction {
      flex: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .edit-table th,
    .edit-table td {
      display: block;
      width: 100%;
    }
  
    .edit-table th {
      text-align: center;
    }
  
    .edit-table td {
      text-align: left;
    }
  }
  /* Base styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }
  
  .App,
  form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #369a1b;
  }
  
  .header h1 {
    order: -1;
    margin-right: auto;
    font-size: 2rem;
    color: #1b9a2a;
  }
  
  /* Buttons */
  .add-task-button,
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
  }
  
  .add-task-button:hover,
  button:hover {
   
    background-color: #45a049;
  }
  
  button [type='button'] {
    padding-left: 5%;
    background-color: #e0e80e;
  }
  
  button[type='button']:hover {
    background-color: #e2f10f;
  }
  
  /* Navigation */
  .top-menu {
    background-color: green;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  .top-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  
  }