/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid green;
  margin-bottom: 20px;
}

.header h1 {
  margin-right: auto;
  font-size: 2rem;
}

.home-link {
  color: green;
  text-decoration: none;
}

.header-buttons {
  display: flex;
  margin-left: auto;
}

/* Navigation */
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.menu-items {
  display: flex;
}

.top-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.top-menu a:hover {
  background-color: #45a049;
}

.logout-button {
  background-color: #e0e80e;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #e2f10f;
}

/* Buttons */
.add-task-button,
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.add-task-button:hover,
button:hover {
  background-color: #45a049;
}

/* Forms */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

/* Login page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: green;
}

/* Dashboard */
.dashboard-page {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-page h2 {
  color: #239a1b;
  margin-bottom: 20px;
}

.task-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.summary-item {
  background-color: #bee7c1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.summary-item h3 {
  color: #148c44;
  margin-bottom: 10px;
}

.summary-item p {
  font-size: 2rem;
  font-weight: bold;
  color: #1b9a47;
  margin-bottom: 10px;
}

.summary-item a {
  display: inline-block;
  background-color: #1b9a52;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.summary-item a:hover {
  background-color: #148c60;
}

.total-tasks {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #1b9a96;
}


/* Task table */
.task-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: 20px;
}

.task-table th,
.task-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.task-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: green;
}

.task-table tr:hover {
  background-color: #f5f5f5;
}
.task-table button {
  margin-right: 10px;
}

/* Priority styles */
.priority {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
}

.priority.low {
  background-color: #e8f5e9;
  color: #2e7d32;
}

.priority.medium {
  background-color: #fff3e0;
  color: #f57c00;
}

.priority.high {
  background-color: #ffebee;
  color: #c62828;
}

/* Progress bar */
.progress-bar {
  width: 100px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
}

/* Responsive design */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons {
    margin-top: 10px;
  }

  .top-menu {
    flex-direction: column;
  }

  .menu-items {
    flex-direction: column;
    width: 100%;
  }

  .top-menu a {
    margin: 5px 0;
  }

  .logout-button {
    width: 100%;
    margin-top: 10px;
  }

  .task-table {
    font-size: 0.9rem;
  }
}